@CHARSET "UTF-8";

body{
    margin:0 auto;
}

*{
    text-align: center;
}
ul,ol{
     list-style:none;
     padding : 0;
     margin:0;
}

a{
    color:black;
    text-decoration: none;
}
a:link { 
    text-decoration: none;
}
a:visited { 
    color: #9d9d9d;  
    text-decoration: none;
}
a:hover {
    color: #9d9d9d;
    text-decoration: none;
    font-weight: bold;
}

input[type='button'],
input[type='submit']
{
    border: 0;
    outline: 0;
    background-color: #ff6363;
    text-align: center;
    color: white;
    margin: 15px;
    padding: 10px 20px;
    cursor: pointer !important;
}

a1{
    color: #4A4A4A;
    font-size: 16px;  
}
a2{
    color: #5d5d5d;
    font-size: 20px;
}
a3{
    color: #9d9d9d;
    font-size: 16px;  
}
a4{
    color: #9d9d9d;
    font-size: 16px;  
}
a5{
    color: #000000;
    font-size: 16px; 
}

name{
    font-size: 24px;
    color: #ff6363;
    font-weight: bold;
}
addr{
    font-size: 14px;
    color: #9B9B9B;
}




.wrap_menu{
    background-color: #ffffff;
    border-bottom: 1px solid #d4d4d4;
}

.wrap_menu div{
    display: inline-block;
}

.wrap_menu > div{
    text-align: center;
    width: 1100px;

}
.logo {
    width: 190px;
}

.logo img{
    width: 190px;
}

.menu{
    vertical-align: top;
    width: 900px;
    display: inline-block;
    color: #9d9d9d;
    text-align: right;
}
.menu > div{
    padding: 30px 5px;

}
.menu input {
    background-color: white;
    font-size: 16px;
    color:black;
    margin: 0;
    padding: 0 20px
}


/* footer */

.wrap_footer{
    background-color: #333333;
    border-top: 1px solid #dcdcdc;

}

.footer_menu{
    width: 1100px;
    display: inline-block;
}

.footer_menu1,
.footer_menu2
{
    text-align: left;
    padding: 15px 0;
}

.footer_menu1{
    color: #b9b9b9;
    font-size: 17px;
    padding-top: 40px;
}

.footer_menu2{
    color: #818181;
    font-size: 14px;
    padding-bottom: 40px;
    line-height: 24px;
}






/*  팝업 css */ 

.popup_cancel_wrap, .popup_confirm_wrap {
    display:none;
    
}

.popup_cancel_cover, .popup_confirm_cover{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #000;
    opacity : 0.5;
    top: 0;
} 


.popup_cancel, .popup_confirm {
    position: fixed;
    width: 300px;
    top: 30%;
    left: 50%;
    margin: 30px auto;
    margin-top: -50px;
    margin-left: -150px;
    z-index: 100;
    background: white;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
}

.popup_head {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #d4e6bb;
    color: #596548;
}

.popup_content {
    position: relative;
    padding: 20px;
    box-sizing: border-box;
}

.popup_bottom {
    padding: 5px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.popup_button_cancel {
    margin: 3px;
    color: #fff;
    background-color: #536141;
    text-decoration: none;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    border-radius: 5px;
}

.popup_button_confirm {
    margin: 3px;
    color: #fff;
    background-color: #fc6a19;
    text-decoration: none;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    border-radius: 5px;
}


