@CHARSET "UTF-8";

body{
    margin:0 auto;
}

*{
    text-align: center;
}
ul{
     list-style:none;
}

a{
    color:black;
    text-decoration: none;
}
a:link { 
    text-decoration: none;
}
a:visited { 
    color: #9d9d9d;  
    text-decoration: none;
}
a:hover {
    color: #9d9d9d;
    text-decoration: none;
    font-weight: bold;
}

a1{
    color: #9d9d9d;
    font-size: 16px;  
}
a2{
    color: #5d5d5d;
    font-size: 20px;
}
a3{
    color: #9d9d9d;
    font-size: 16px;  
}
a4{
    color: #9d9d9d;
    font-size: 16px;  
}
a5{
    color: #000000;
    font-size: 16px; 
}

.wrap_menu {

}

.wrap_menu > div{
    text-align: center;
}
.logo img{
    width: 15%;
}

.logo img{
    width: 170px;
}

.menu1{
    width: 100%;
    display: inline-block;
    background: #eeeeee;
    color: #9d9d9d;
    border-bottom: 1px solid #dcdcdc;
}
.menu1 div{
    display: inline-block;
    text-align: right;
}
.menu1 > div{
    width: 1100px;
    margin-right: 15px;
}

.login{
    width: 50px;
    padding: 6px;
}
.signup{
    width: 65px;
    padding: 6px;
}

.menu2{
    border-bottom: 1px solid #dcdcdc;
}

.menu2 > .menu2_1{
    width: 1100px;
    display: inline-block;
}

.menu2 > div > div{
    display: inline-block;
}

.warp_menu2{
    text-align: right;
    vertical-align: top;
    width: 900px;
}

.sub_menu{
    width: 150px;
    display: inline-block;
    font-size: 20px;
    padding: 25px 0;
}

.slide_menu{
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    z-index :100;
    border-bottom: 1px solid #dcdcdc;
}

.slide_menu > div{
    width: 1100px;
    text-align: right;
    display: inline-block;
}

.slide_menu > div > div{
    width: 900px;
    text-align: right;
    display: inline-block;
}

.slide_menu ul{
    width: 150px;
    display: inline-block;
    font-size: 18px;
    padding: 10px 0;
    
}
.slide_menu ul li{
        padding-left : 30px;
    text-align: left;
}

/* footer */

.wrap_footer{
    background-color: #eeeeee;
    border-top: 1px solid #dcdcdc;
}

.footer_menu{
    width: 1100px;
    display: inline-block;
}

.footer_menu1,
.footer_menu2
{
    text-align: left;
    padding: 10px 0;
}

.footer_menu1{
    color: #7d7d7d;
    font-size: 16px;
}

.footer_menu2{
    color: #9d9d9d;
    font-size: 13px;
}
