@CHARSET "UTF-8";


.wrap{
    background-color: white;
}


.wrap_reservation_view{
    text-align: center;
    display: inline-block;
    margin: 60px auto;
}
.wrap_reservation_view div{
    text-align: left;
}
.wrap_reservation_view > div {
    width: 980px;
}

.wrap_reservation_view > div > div > div{
    margin : 20px auto;
}

.wrap_reservation_view > div > div >div:nth-child(1){
    color: #ff6363;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px !important;
    
}
.temple_info > div{
    margin: 10px auto !important;
}

.program_info {
    display: inline-block;
}


/* 밑줄 */
.border{
    border-bottom: 1px solid #adadad;
}



/* 이미지 출력 */
.img div,
.img img
{
    margin : 0;
}


.big_img > img{
    width: 978px;
    height: 500px;
}

.big_img > img:nth-child(2),
.big_img > img:nth-child(3)
{
    display: none;
}

.small_img_click{
    width: 322px;
    height: 170px;
    opacity: 0.5;
}




/* 예약 부분 */
.wrap_go_reservation{
    text-align: center !important;
    border: 0px !important;
}

.go_reservation{
    display: inline-block;
    width: 120px;
    text-align: center !important;
    color: white;
    margin: 15px;
    padding: 10px;
    background-color: #ff6363;
    cursor: pointer !important;
}


/* 지도 */
#map{
    width: 100%;
    height: 400px;
}
